numpy
pandas
scikit-learn
matplotlib
tqdm
requests
beautifulsoup4
lxml
rdkit
torch
torch-geometric
transformers
gradio
weaviate-client
langchain-core
langchain-openai
langchain-text-splitters
openai
python-dotenv
mordred
